<section class="post-comments">
    <div id="gitmentContainer"></div>
    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
    <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
    <script>
var gitment = new Gitment({
    owner: 'yefengjie',
    repo: 'yefengjie.github.io',
    oauth: {
        client_id: '77ade074fa1a760d56eb',
        client_secret: '43adaf5fa92b61499797ee0a4cfceb92b59dcf41',
    },
});
gitment.render('gitmentContainer');

    </script>
</section>
